<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Team picture:</strong>
  <%= image_tag(@team.team_picture_url, :width => 200) if @team.team_picture.present? %>
</p>

<p>
  <strong>Competition:</strong>
  <%= link_to Competition.find_by(id: @team.comp_id).name, competition_path(@team.comp_id)%>
</p>
<p>
	<strong>Players</strong><br>
	
	<%@players.each do |p|%>
	<tr>
	<td><%=link_to p.name, player_path(p.id)%></td><br>
	<%end%>
	</tr>
</p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
