<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>
<br>

<%= link_to 'New Player', new_player_path %>
<br>
<% @players.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-2">
        <%=link_to( image_tag(idea.picture_url, :width => 100, :height => 100), player_path(idea), :class=>"work") %>    
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %><br>
        <%= link_to 'Show', idea %>
        <%= link_to 'Edit', edit_player_path(idea) %>
        <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
<% end %>