
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@player.picture_url, :width => 150) if @player.picture.present? %>
</p>
<p>
  <strong>Description:</strong>
  <%= @player.description %>
</p>
<p>
	<strong>Team</strong>
	<%= link_to Team.find_by(id: @player.team_id).name, team_path(@player.team_id)%>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>