
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@player.picture_url, :width => 150) if @player.picture.present? %>
</p>
<p>
  <strong>Description:</strong>
  <%= @player.description %>
</p>
<p>
	<strong>Team</strong>
	<%= link_to Team.find_by(id: @player.team_id).name, team_path(@player.team_id)%>
</p>



<div class="modal-footer">
  <%= link_to 'Edit', edit_player_path(@player),:class => 'btn btn-primary btn-md' %> |
  <a href="#" rel="modal:close"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>