<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <p> 
    <%= fields_for (@category_post) do |ab|%>
    <div class = "field">
      <%=ab.label "CATEGORY"%><br>
      <%= collection_check_boxes(:category , :id, @all_category, :id, :name, {}, {:multiple => true})%>
    </div>
    <%end%>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
