<%= form_for @post do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <%= f.label :post_picture %><br>
    <%= f.file_field :post_picture %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <p> 
    <%= fields_for (@post.category_posts.build) do |ab|%>
    <div class = "field">
      <%=ab.label "CATEGORY"%><br>
      <%= collection_check_boxes(:category , :id, Category.all, :id, :name, {}, {:multiple => true})%>
    </div>
    <%end%>
  </p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
